<section>

  <header class="nav-admin">
    <nav-admin tituloCartao="GRÁFICO INFLUENCIADORES"></nav-admin>
  </header>

  <div class="graphics">
    <div class="category">
      <h1>#<span>AS</span>CATEGORIAS<span>DE</span>INTERESSES</h1>
      <div id="draw_categorias" style="width: auto; height: 600px"></div>
    </div>
  </div>

  <article class="pt-5">
    <div class="container">
      <h3>Informações sobre os Dashboards</h3>
      <div class="carousel-inner">
        <div class="row">
          <div class="col-md-4">
            <div class="card text-bg-dark">
              <img class="img-fluid" alt="100%x280" src="assets/img/image-graphics/1-faixaEtaria.png">
              <div class="card-body">
                <h6 class="card-title">FAIXA ETARIA</h6>
                <p class="card-text">Faixa etária é a divisão da população de determinada sociedade por geração de
                  acordo com a época em que nasceram, ou seja, é uma distribuição de acordo com as idades.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card text-bg-dark">
              <img class="img-fluid" alt="100%x280" src="assets/img/image-graphics/2-categoriaInteresse.png">
              <div class="card-body">
                <h6 class="card-title">INTERESSES</h6>
                <p class="card-text">É só olhar em cada canto que você vai encontrar cores, formas, texturas e ideias
                  que expressam toda a criatividade da favela. Tipos de interesses que o influencer aborda em suas redes
                  sociais, hobies e
                  interesses pessoais.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card text-bg-dark">
              <img class="img-fluid" alt="100%x280" src="assets/img/image-graphics/3-diversidadeGenero.png">
              <div class="card-body">
                <h6 class="card-title">GENEROS</h6>
                <p class="card-text">Orgulho dentro e fora da quebrada! E se a sua marca se juntasse ao nosso squad de
                  influenciadores LGBTQIA+ de favela para criar conteúdos autênticos? Vem conhecer os nossos pacotes
                  comerciais!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>

  <div class="graphics">

    <div class="age graph">
      <h1>#<span>A</span>FAIXAETARIA<span>DOS</span>INFLUENCERS</h1>
      <div id="draw_faixaEtaria" style="height: 650px; width: 90%;"></div>
    </div>

    <div class="gender graph">
      <h1>#<span>A</span>DIVERSIDADE<span>DE</span>GENERO</h1>
      <div id="draw_genero" style="height: 650px; width: 90%"></div>
    </div>

  </div>



  <article class="pt-5">
    <div class="container">
      <h3>Informações sobre os Dashboards</h3>
      <div class="carousel-inner">
        <div class="row">
          <div class="col-md-4">
            <div class="card text-bg-dark">
              <img class="img-fluid" alt="100%x280" src="assets/img/image-graphics/4-favelaBrasil.png">
              <div class="card-body">
                <h6 class="card-title">FAVELAS DO BRASIL</h6>
                <p class="card-text">Nós somos muito mais do que isso que você vê no noticiário!
                  Somos uma potência econômica, artística e criativa. Somos um conglomerado de mentes inovadoras e
                  inquietas. Somos uma vasta extensão de negócios pulsantes. Somos uma nação dentro da outra.
                  Hoje, 04/11 é o dia favela. Mais um dia que você tem a oportunidade de saber um pouco mais sobre nós!
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card text-bg-dark">
              <img class="img-fluid" alt="100%x280" src="assets/img/image-graphics/5-diversidadeEtnica.png">
              <div class="card-body">
                <h6 class="card-title">ETNIA</h6>
                <p class="card-text">A discriminação racial contra pretos, pardos, indígenas e asiáticos ainda existe,
                  de forma escancarada, em todo o Brasil. Um país onde mais de 50% da população se autodeclara parte
                  dessas etnias. Mas o que fazer para mudar essa realidade? Combater! Agregar, acolher, respeitar.
                  Compreender e espalhar a mensagem de que uma vida digna é direito de todos.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card text-bg-dark">
              <img class="img-fluid" alt="100%x280" src="assets/img/image-graphics/6-Indigenas.png">
              <div class="card-body">
                <h6 class="card-title">INDIGENAS</h6>
                <p class="card-text">09 de Agosto é o dia Internacional dos Povos Indígenas. A data propõe promover a
                  conscientização a respeito dos problemas que afetam as comunidades autóctones e indígenas por todo o
                  mundo. Ao mesmo tempo, busca-se, com esse dia, promover uma maior atuação no que se refere ao respeito
                  a inclusão aos direitos humanos e às liberdades fundamentais dos Povos Indígenas.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>

  <div class="graphics">
    <div class="gender graph">
      <h1>#<span>A</span>DIVERSIDADE<span>DE</span>ETNIA</h1>
      <div id="draw_etnia" style="height: 650px; width: 90%"></div>
    </div>
    <div class="age graph">
      <h1>#<span>O</span>PODER<span>DA</span>ALDEIA</h1>
      <div id="draw_indigena" style="height: 650px; width: 90%;"></div>
    </div>
  </div>

  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/image-graphics/background_brands1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/image-graphics/background_brands2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/image-graphics/background_brands3.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="regions graph">
    <h1>#<span>A</span>FAVELA<span>DOS</span>INFLUENCERS</h1>
    <div id="draw_regioes" style="height: 650px; width: 100%;"></div>
  </div>


  <footer class="footer">
    <div class="container-fluid">
      <div class="copyright">
        &copy;
        August 2022, Developed by Students from
        <a href="https://soulcodeacademy.org/" target="_blank">SoulCode Academy</a>.
      </div>
    </div>
  </footer>

</section>