<section>
  <header class="header">
    <img src="assets/img/logo.svg" class="header_logo" routerLink="">
    <h4 class="header_title">CADASTRO DE MICROINFLUENCIADORES</h4>
  </header>
  <div class="form_container">
    <h2>E AÍ?</h2>
    <p> O CADASTRO DE INFLUENCIADORES POSSUI 2 ETAPAS. PARA COMEÇAR, PRECISAMOS DO SEU CONTATO, REDES
      SOCIAIS E ALGUMAS
      OUTRAS INFORMAÇÕES.<br> ELAS SÃO IMPORTANTES PARA SUGERIR NOVAS CAMPANHAS PARA VOCÊ. </p>
    <signup-form></signup-form>
  </div>

</section>